<h1 class="card-title"><%= country_info.emoji_flag %> <%= country.name %></h1>

<div class="card-body">
  <% unless current_page?(map_path) %>
    <div id="map"
      class="h-64 w-full"
      data-show-map="true"
      data-country-min-lat="<%= @country_info.min_latitude %>"
      data-country-min-long="<%= @country_info.min_longitude %>"
      data-country-max-lat="<%= @country_info.max_latitude %>"
      data-country-max-long="<%= @country_info.max_longitude %>">
    </div>
  <% end %>
  <dl>
    <dt class="font-semibold mt-2">Capital</dt>
    <dd><%= @country.capital %></dd>
    <dt class="font-semibold mt-2">Currency</dt>
    <dd>
      <span class="font-semibold text-white bg-slate-700 px-1 rounded"><%= "#{@country_info.currency.symbol}" %></span>
      <%= "#{@country_info.currency.name} (#{@country_info.currency.iso_code})" %>
    </dd>
    <dt class="font-semibold mt-2">Drives on the</dt>
    <dd><%= @country.drives_on.capitalize %></dd>
    <dt class="font-semibold mt-2">Population</dt>
    <dd>~ <%= number_to_human(@country.population) %></dd>
  </dl>
</div>
