<h1>Countries</h1>

<%= search_form_for @q, data: { turbo_frame: "search" } do |f| %>
  <div class="relative">
    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
      <%= heroicon "magnifying-glass" %>
    </div>
    <%= f.text_field :name_or_region_start, class: "search-input p-3 pl-10 text-sm", onkeyup: "search()", placeholder: "Country Name or Region ..." %>
  </div>
<% end %>

<%= turbo_frame_tag "search", target: "_top" do %>
  <div class="table-responsive mt-8">
    <table>
      <thead>
        <tr>
          <th class="w-2"><!--Country Flag--></th>
          <th><%= sort_link(@q, :name) %></th>
          <th><%= sort_link(@q, :region) %></th>
          <th class="text-center">Advisory</th>
        </tr>
      </thead>
      <tbody>
        <% @countries.each do |country| %>
          <tr>
            <td class="w-2">
              <%= link_to get_emoji_flag(country.alpha2), country_path(country.alpha2) %>
            </td>
            <td>
              <strong><%= link_to country.name, country_path(country.alpha2) %></strong>
            </td>
            <td>
              <%= country.region %>
            </td>
            <td class="text-center">
              <% country_advisory = country.advisories.first || nil %>
              <span class="px-4 py-2 rounded <%= advisory_level_color(country_advisory) %>">
                <%== advisory_level_name(country_advisory) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="text-center mt-10">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
