<% content_for :meta_title, "#{@country.name} Travel Advisories | #{DEFAULT_META["meta_name"]} | #{DEFAULT_META["meta_description"]}" %>

<%= link_to "World", countries_path %> &gt; <%= link_to @country.region, countries_path("q[region_start]": @country.region) %> &gt; <%= link_to @country_info.subregion, countries_path("q[subregion_start]": @country.subregion) %> &gt; <%= @country.name %>

<div class="grid grid-flow-row md:grid-flow-col md:grid-cols-3 gap-2 md:gap-4">
  <%= render "/countries/partials/country_summary" %>
  <%= render "/countries/partials/advisory_card" %>
</div>
